
/* custom-navbar.css */
.custom-navbar {
    background-color: rgb(225, 234, 237);
  }
  .custom-navbar .nav-link {
    font-size: 16px; 
    font-weight: bold;
    color: #fff; /* Set the link color */
  }